.room-screen {
  color: #000000;
  position: absolute;
  display: flex;
  overflow: hidden;
  min-width: 245px;
  min-height: 160px;

  padding: 16px;

  background: #c0d1f2;
  border-radius: 25px;
  border: 3px solid #000;
}

.meet-id-container {
  position: absolute;
  z-index: 1;
}

.meet-id {
  font-size: 14px;
}

.videos_container_styles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 8px;
}
.video_track_container {
  transform: scaleX(-1);
}
.video {
  border-radius: 15px;
}

.handle {
  height: 160px;
  background-color: #000000;
  cursor: grab;
  width: 20px;
  margin-right: 10px;
  border-radius: 25px;
}
