.main-container {
  color: #fff;

  position: absolute;
  display: flex;
  overflow: hidden;

  background-color: blue;
}

.meet-id-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.meet-id {
  padding: 0.5rem 2.5rem;

  border-end-end-radius: 12px;
  border-end-start-radius: 12px;
  color: var(--fore-color);
  font-size: 14px;
  font-weight: 500;
}

.main-panel-container {
  position: relative;
  height: 100%;
  max-height: 100vh;
  padding: 2rem;
}

.side-panel-container {
  height: 100%;
  padding: 1rem 1rem 1rem 0;
}
