body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111112;
  font-family: "Red Rose", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-width: 900px) {
  /* .small-box-wrapper {
    grid-template-columns: repeat(2, 1fr);
  } */
  .small-box-image {
    width: auto;
    height: 119px;
  }
}
