.lending {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.lending-container {
  /* display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-end; */
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-content: center;
}
.small-box-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 16px;
}
.large-and-small-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
