.lending {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.lending-container {
  /* display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-end; */
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-content: center;
}
.small-box-wrapper {
  display: flex;
  gap: 16px;
}
.large-and-small-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 900px) {
  .small-box-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
  }
  .lending-titles {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }
}
