.dashboard {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dashboard-container {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-content: center;
}
.app-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;

  border-radius: 25px;
  padding: 16px;
  background-image: linear-gradient(
    134deg,
    hsl(220deg 66% 85%) 0%,
    hsl(215deg 71% 84%) 11%,
    hsl(211deg 76% 84%) 22%,
    hsl(208deg 79% 83%) 33%,
    hsl(205deg 81% 81%) 44%,
    hsl(202deg 81% 80%) 56%,
    hsl(199deg 81% 79%) 67%,
    hsl(196deg 80% 78%) 78%,
    hsl(194deg 78% 76%) 89%,
    hsl(191deg 75% 75%) 100%
  );
}
.dashboard-title {
  color: black;

  margin: 0;
}
.dashboard-title-and-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-left: 48px;
}

.dashboard-title-image {
  width: auto;
  height: 51px;
}
.mini-app-and-back-button {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.toast-message {
  background: rgb(0, 0, 255);
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}
.dashboard-apps {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
}
