.join-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 0;
  background-color: rgb(0 0 0 / 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.join-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 253, 167);
  padding: 16px;
  border-radius: 25px;
  gap: 8px;
}
.join-image {
  width: auto;
  height: 195px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentPanelConatiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentPanel {
  color: #000000;
}

.title {
  font-size: 24px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.join-input {
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  width: 158px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  margin-bottom: 6px;
}

.audioOnlyCheck {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.audioOnlyCheck label {
  font-size: 12px;
  margin-left: 8px;
  color: rgb(189, 189, 189);
}

.audioOnlyCheck input {
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1.5px solid var(--fore-color);
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.errMsgContainer {
  margin-top: 16px;
}

.errMsgContainer .errMsg {
  color: var(--warning-color);
  font-size: 13px;
}

.btnsContainer {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.joinBtn {
  background-color: var(--fore-color);
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 600;
  width: 75px;
  padding: 0.25rem 0.5rem;
  margin-right: 12px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.joinBtn:hover {
  background-color: #05bba0;
}

.cancelBtn {
  background-color: #fff;
  border: none;
  color: black;
  font-size: 12px;
  width: 75px;
  padding: 0.25rem 0.5rem;
  margin-right: 16px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: #e5e5e5;
}
